@import "setting";

/* default */

body,h1,h2,h3,h4,h5,h6,p,pre,blockquote,ul,li,ol,dl,dd,table,th,td,tr {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  border: none;
  vertical-align:bottom;
}
.btm01{
  margin-bottom: 1px;
}
.btm03{
  margin-bottom: 3px;
}
.btm05{
  margin-bottom: 5px;
}
.btm10{
  margin-bottom: 10px;
}
.btm15{
  margin-bottom: 15px;
}
.btm20{
  margin-bottom: 20px;
}
.btm25{
  margin-bottom: 25px;
}
.btm30{
  margin-bottom: 30px;
}
.btm35{
  margin-bottom: 35px;
}
.btm40{
  margin-bottom: 40px;
}
.btm45{
  margin-bottom: 45px;
}
.btm50{
  margin-bottom: 50px;
}
.clear {
  clear: both;
  hr {
    display: none;
  }
}
body {
  border-top: 5px solid #000;
  text-align: center;
  background: url("/assets/images/bg-footer.gif") repeat-x left bottom;
  color: #666;
  font-size: $baseFontSize + 2px;
  line-height: 1.3em;
  font-family: Aller,Verdana,Helvetica,Arial,sans-serif,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}