@charset "utf-8";
@import "setting";
@import "default";
@import "header";


/* contents */

#contents {
  width: 950px;
  margin: 0 auto 30px;
  text-align: left;
  .font12 {
    font-size: $baseFontSize;
  }
  .font10 {
    font-size: $baseFontSize - 2px;
  }
  .bold {
    font-weight: bold;
  }
  .icon {
    img {
      margin-right: 10px;
    }
  }
  .left {
    width: 426px;
    float: left;
    p {
      &.guelllogo {
        text-align: right;
        margin-bottom: 20px;
      }
    }
    dl {
      &.member {
        dd {
          float: left;
          margin-bottom: 10px;
        }
      }
    }
    .bio {
      font-size: $baseFontSize;
      margin-bottom: 30px;
    }
    .red-box {
      background: url("/assets/images/bg-red.gif") repeat left top;
      padding-top: 15px;
      font-size: $baseFontSize;
      ul {
        li {
          margin-bottom: 10px;
        }
      }
      dl {
        margin-bottom: 10px;
      }
      a {
        &:link,&:visited {
          color: #333;
        }
        &:hover {
          color: #fff;
        }
      }
    }
    .sidemenu1,.sidemenu2 {
      display: inline;
      color: #FFF;
      margin: 0 0 5px 25px;
      width: 175px;
      float: left;
    }
    .sidemenu2 {
      float: right;
    }
  }
  .right {
    width: 480px;
    float: right;
    .right-btn {
      text-align: right;
    }
    .cd {
      float: left;
      width: 120px;
      margin-bottom: 20px;
    }
    .cd-right {
      float: right;
      width: 280px;
      margin-bottom: 20px;
    }
    .red-box{
      background: url("/assets/images/bg-red.gif") repeat left top;
      padding: 20px 30px;
      color: #FFF;
      margin-bottom:5px;
      a {
        &:link,
        &:visited {
          color: #333;
        }
        &:hover {
          color: #fff;
        }
      }
    }
    .gray-box{
      background-color: #EDEDED;
      padding: 20px 28px 20px 30px;
      margin-bottom: 5px;
      border: 1px solid #ddd;
      a {
        &:link,
        &:visited {
          color: #333;
        }
        &:hover {
          color: #09F;
        }
      }
    }
    .pink-box {
      background-color: #FFECE5;
      padding: 20px 30px;
      margin-bottom: 30px;
      border: 1px solid #F36;
      a {
        &:link,
        &:visited {
          color: #F36;
        }
        &:hover {
          color: #09F;
        }
      }
    }
    .black-box{
      background: url("/assets/images/bg-gray.gif") repeat left top;
      padding: 20px 30px;
      color: #FFF;
      a {
        &:link,
        &:visited {
          color: #fff;
        }
        &:hover {
          color: #09F;
        }
      }
    }
    ul {
      &.link {
        margin-bottom: 15px;
        font-size: $baseFontSize;
        li {
          margin-bottom: 10px;
          img {
            margin-right: 10px;
          }
        }
      }
    }
    .ad-box {
      font-size: $baseFontSize - 2px;
      color: #999;
      text-align: right;
      padding-top: 10px;
      a {
        &:link,
        &:visited,
        &:hover {
          color: #999;
        }
      }
    }
  }
  .center-btn {
    text-align: center;
  }
}

@import "footer";