---
title: 少女スキップ SHOJOSKIP
---
#header
  .header-inner
    %h1
      %a{:href => "/"}
        %img{:alt => "SHOJOSKIP 少女スキップ", :height => "79", :src => "http://www.syoujyoskip.com/imgs/img-logo.gif", :width => "426"}/
    .navi-top
      %ul
        %li
          %a{:href => "/"}
            %img.navitop1{:alt => "TOP", :height => "112", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navitop1-on.gif';", :onmouseover => "this.src='http://www.syoujyoskip.com/imgs/img-navitop1-on.gif';", :src => "http://www.syoujyoskip.com/imgs/img-navitop1-on.gif", :width => "40"}/
        %li
          %a{:href => "http://syoujyoskip2.blog77.fc2.com/"}
            %img.navitop2{:alt => "NEWS", :height => "112", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navitop2.gif';", :onmouseover => "this.src='http://www.syoujyoskip.com/imgs/img-navitop2-on.gif';", :src => "http://www.syoujyoskip.com/imgs/img-navitop2.gif", :width => "42"}/
        %li
          %a{:href => "shows.html"}
            %img.navitop3{:alt => "SHOWS", :height => "112", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navitop3.gif';", :onmouseover => "this.src='http://www.syoujyoskip.com/imgs/img-navitop3-on.gif';", :src => "http://www.syoujyoskip.com/imgs/img-navitop3.gif", :width => "47"}/
        %li
          %a{:href => "music.html"}
            %img.navitop4{:alt => "MUSIC", :height => "112", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navitop4.gif';", :onmouseover => "this.src='http://www.syoujyoskip.com/imgs/img-navitop4-on.gif';", :src => "http://www.syoujyoskip.com/imgs/img-navitop4.gif", :width => "42"}/
        %li
          %a{:href => "video.html"}
            %img.navitop5{:alt => "VIDEO", :height => "112", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navitop5.gif';", :onmouseover => "this.src='http://www.syoujyoskip.com/imgs/img-navitop5-on.gif';", :src => "http://www.syoujyoskip.com/imgs/img-navitop5.gif", :width => "44"}/
        %li
          %a{:href => "gallery.html"}
            %img.navitop6{:alt => "GALLERY", :height => "112", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navitop6.gif';", :onmouseover => "this.src='http://www.syoujyoskip.com/imgs/img-navitop6-on.gif';", :src => "http://www.syoujyoskip.com/imgs/img-navitop6.gif", :width => "61"}/
        %li
          %a{:href => "contact.html"}
            %img{:alt => "CONTACT", :height => "112", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navitop7.gif';", :onmouseover => "this.src='http://www.syoujyoskip.com/imgs/img-navitop7-on.gif';", :src => "http://www.syoujyoskip.com/imgs/img-navitop7.gif", :width => "61"}/
      .clear
        %hr/
/ header

#contents
  .left
    %h2.btm10
      %img{:alt => "少女スキップ SHOJOSKIP オフィシャルサイト", :height => "626", :src => "http://www.syoujyoskip.com/imgs/img-hl-top-l.jpg", :width => "426"}/
      %p.guelllogo
        %a{:href => "http://www.guellmustard.com/", :target => "_blank"}
          %img{:alt => "ILLUSTRATION by GUELL MUSTARD", :height => "22", :src => "http://www.syoujyoskip.com/imgs/img-guelllogo.gif", :width => "101"}/
      %dl.member
        %dt.btm10
          %img{:alt => "SHOJOSKIP is", :height => "16", :src => "http://www.syoujyoskip.com/imgs/img-shojoskipis.gif", :width => "146"}/
        %dd
          %img{:alt => "Chisato Vocal Guitar Keyboard", :height => "115", :src => "http://www.syoujyoskip.com/imgs/img-member1.gif", :width => "83"}/
        %dd
          %img{:alt => "Kouki Arai Bass", :height => "115", :src => "http://www.syoujyoskip.com/imgs/img-member2.gif", :width => "91"}/
        %dd
          %img{:alt => "O-isshi Drums", :height => "115", :src => "http://www.syoujyoskip.com/imgs/img-member3.gif", :width => "74"}/
        %dd
          %img{:alt => "Takashi Otsuki Guitar,Keyboard", :height => "115", :src => "http://www.syoujyoskip.com/imgs/img-member5.gif", :width => "76"}
      .clear
        %hr
      %p.bio　少女スキップは東京で活動中のバンド。USインディ、オルタナ、ポストロック、シューゲイザーなど、多種多様な音楽に影響を受けながらも、ポップでエモーショナルで「やさしさ」「なつかしさ」を感じる、浮遊感あふれる独自のサウンドを紡ぎだしている。
      %a{:href => "http://skream.jp/pick_up_rookies/2012/11/shojoskip.php", :target => "_blank"}
        %img.btm15{:src => "http://www.syoujyoskip.com/imgs/img-bnr-20121112.jpg", :alt => "少女スキップ｜Skream! PICK UP! ROOKIES", :border => "0"}/
      %iframe{:src => "//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fshojoskip&width=480&height=395&colorscheme=light&show_faces=false&border_color&stream=true&header=false", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:426px; height:395px;", :allowTransparency => "true"}
  .right
    .red-box
      %h3
        %img.btm15{:src => "http://www.syoujyoskip.com/imgs/img-hl-nextshow.gif", :alt => "SHOJOSKIP NEXT SHOW", :width => "126", :height => "16"}
      .shows
        %p.bold
          2015/04/26(sun)
          %br/
          ［Total Feedback］
          %br/
          ＠
          %a{:href => "http://koenji-high.com/", :target => "_blank"}高円寺HIGH
          (
          %a{:href => "http://koenji-high.com/access/", :target => "_blank"}map
          )
        %p.font12
          出演:PLASTIC GIRL IN CLOSET/
          %br/
          少女スキップ/civic/HONEYDEW/
          %br/
          cigarette in your bed/オールドタイマー
          %br/
          FOOD販売
          %br/
          アドウィララウィ/タイ風焼きそば屋台(パッタイ)
          %br/
          …and more
          %br/
          OPEN/17:00 	START/17:30
          %br/
          ADV/￥2,000 DOOR/￥2,500
        %p.right-btn
          %a{:href => "shows.html"}
            %img{:src => "http://www.syoujyoskip.com/imgs/img-more-red.gif", :alt => "MORE", :width => "78", :height => "26"}/
    .gray-box
      %h3.btm15
        %a{:href => "music.html"}
          %img.btm15{:src => "http://www.syoujyoskip.com/imgs/img-hl-music.gif", :alt => "MUSIC", :width => "65", :height => "16"}/
      %p.cd
        %a{:href => "http://www.syoujyoskip.com/imgs/img-civilmagazine.png", :target => "_blank"}
          %img.btn10{:src => "http://www.syoujyoskip.com/imgs/img-civilmagazine.png", :alt => "civilmagazine", :width => "120"}/
      .cd-right
        %p.bold New Release!
        %br/
        %a{:href => "http://www.amazon.co.jp/CIVILMAGAZINE-third-issue-girls-backbone/dp/4990705319/", :target => "_blank"}CIVILMAGAZINE third issue [girls / backbone] [単行本]
        %p.font12.btm10
          RE:RE:RE:mojojoさんとのコラボレーション作品である未公開PV「awaikoe」を収録したDVD付き
          %br/
          %a{:href => "http://www.civiltokyo.com/civilmagazinethird/", :target => "_blank"}詳しくはこちら
          %br/
          出版社:
          %a{:href => "http://www.civiltokyo.com/"} CIVILTOKYO
          A4版
          %br/
          ￥1,944(税込)
          %br/
          2014/4/30
        %p.icon.btm10
          %a{:href => "http://www.amazon.co.jp/CIVILMAGAZINE-third-issue-girls-backbone/dp/4990705319/", :target => "_blank"}
            %img{:src => "http://www.syoujyoskip.com/imgs/img-amazon.gif", :alt => "tower records", :width => "85", :height => "20"}
      .clear
        %hr/
      %p.cd
        %a{:href => "http://www.onlyfeedback.net/cruyff/news.html"}
          %img.btm10{:src => "http://www.syoujyoskip.com/imgs/jcss.jpg", :alt => "cruyff in the bedroom 14th Anniverssary[JESUS CRUYFF SUPER STAR]", :width => "120", :height => "171"}/
      .cd-right
        %p.bold Now on sale!
        %br/
        %a{:href => "http://www.onlyfeedback.net/cruyff/news.html", :target => "_blank"}cruyff in the bedroom 14th Anniverssary
        %br/
        [JESUS CRUYFF SUPER STAR]
        %p.font12.btm10
          [Feedback Noise Disc/DDCZ-1888]
          %br/
          [Sensitive Melody Disc/DDCZ-1887]
          %br/
          各￥2100(税込)
          %br/
          2013/8/7発売
        %p.font12.btm10
          [Japanese King Of Shoegazer]として世界中にその名を轟かせる日本の至宝[クライフインザベッドルーム]結成１４年を記念して１４組づつ合計２８組による２枚のトリビュートアルバムに参加！
        %p.icon.btm10
          %a{:href => "http://tower.jp/item/3262822/JESUS-CRUYFF-SUPER-STAR-Feedback-Noise-Disc", :target => "_blank"}
            %img{:src => "http://www.syoujyoskip.com/imgs/img-tower.gif", :alt => "tower records", :width => "85", :height => "20"}/
      .clear
        %hr/
      %p.cd
        %img.btm10{:src => "http://www.syoujyoskip.com/imgs/cosodorokitsune.jpg", :alt => "COSODOROKITSUNE-Do you go to steal the tedukurinotori?-", :width => "120", :height => "120"}/
      .cd-right
        %p.bold Now on sale!
        %br/
        COSODOROKITSUNE
        %p.font12.btm10
          GLM-0001(
          %a{:href => "http://www.guell-record.com/", :target => "_blank"}GUELLRECORD
          )
          %br/
          ￥2000(税込)
          %br/
          2012/11/14
        %p.icon.btn10
          %a{:href => "http://tower.jp/artist/1106502/%E5%B0%91%E5%A5%B3%E3%82%B9%E3%82%AD%E3%83%83%E3%83%97", :target => "_blank"}
          %img{:src => "http://www.syoujyoskip.com/imgs/img-tower.gif", :alt => "tower records", :width => "85", :height => "20"}/
          %a{:href => "http://diskunion.net/portal/ct/list/0/72340473", :target => "_blank"}
          %img{:src => "http://www.syoujyoskip.com/imgs/img-union.gif", :alt => "union", :width => "85", :height => "20"}/
        %p.icon.btm10
          %a{:href => "https://itunes.apple.com/jp/album/cosodorokitsune/id579267524", :target => "_blank"}
          %img{:src => "http://www.syoujyoskip.com/imgs/img-itune.gif", :alt => "iTune", :witdh => "85", :height => "20"}/
          試聴&amp;ダウンロードできます
      .clear
        %hr/
      %p.bold.btm15
        最新情報はHPやFacebook・Twitterなどでお知らせします。
        %br/
        %a{:href => "http://www.facebook.com/shojoskip"} 少女スキップFacebook
        %br/
        %a{:href => "http://twitter.com/shojoskip"} 少女スキップTwitter
    .gray-box
      %h3
        %img.btm15{:src => "http://www.syoujyoskip.com/imgs/img-hl-video.gif", :alt => "VIDEO", :width => "65", :height => "16"}
      .btm10
        %iframe{:width => "420", :height => "236", :src => "http://www.youtube.com/embed/lTPJCM4Elzw", :frameborder => "0"}
      .btm10
        %iframe{:width => "420", :height => "236", :src => "http://www.youtube.com/embed/RCDa8LKGR_U", :frameborder => "0"}
      .btm10
        %iframe{:width => "420", :height => "236", :src => "http://www.youtube.com/embed/Cyd0f0TR00w", :frameborder => "0"}
      %p.right-btn
        %a{:href => "video.html"}
          %img{:src => "http://www.syoujyoskip.com/imgs/img-more-gray.gif", :alt => "MORE", :width => "78", :height => "26"}
  .clear
    %hr/
#footer
  .footer-inner
    %address
      %img{:src => "http://www.syoujyoskip.com/imgs/img-copy.gif", :alt => "Copyright c SHOJOSKIP All right reserved.", :width => "233", :height => "11"}/
    %ul
      %li
        %a{:href => "http://www.syoujyoskip.com/"}
          %img{:src => "http://www.syoujyoskip.com/imgs/img-navifooter1.gif", :alt => "TOP", :width => "50", :height => "76", :onmousover => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter1-on.gif';", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter1-on.gif';"}/
      %li
        %a{:href => "http://syoujyoskip2.blog77.fc2.com/"}
          %img{:src => "http://www.syoujyoskip.com/imgs/img-navifooter2.gif", :alt => "NEWS", :width => "68", :height => "76", :onmousover => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter2-on.gif';", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter2-on.gif';"}/
      %li
        %a{:href => "shows.html"}
          %img{:src => "http://www.syoujyoskip.com/imgs/img-navifooter3.gif", :alt => "SHOWS", :width => "75", :height => "76", :onmousover => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter3-on.gif';", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter3-on.gif';"}/
      %li
        %a{:href => "music.html"}
          %img{:src => "http://www.syoujyoskip.com/imgs/img-navifooter4.gif", :alt => "MUSIC", :width => "70", :height => "76", :onmousover => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter4-on.gif';", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter4-on.gif';"}/
      %li
        %a{:href => "video.html"}
          %img{:src => "http://www.syoujyoskip.com/imgs/img-navifooter5.gif", :alt => "VIDEO", :width => "77", :height => "76", :onmousover => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter5-on.gif';", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter5-on.gif';"}/
      %li
        %a{:href => "gallery.html"}
          %img{:src => "http://www.syoujyoskip.com/imgs/img-navifooter6.gif", :alt => "GALLERY", :width => "68", :height => "76", :onmousover => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter6-on.gif';", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter6-on.gif';"}/
      %li
        %a{:href => "contact.html"}
          %img{:src => "http://www.syoujyoskip.com/imgs/img-navifooter7.gif", :alt => "CONTACT", :width => "72", :height => "76", :onmousover => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter7-on.gif';", :onmouseout => "this.src='http://www.syoujyoskip.com/imgs/img-navifooter7-on.gif';"}/